/*
 * variables
 ******************************************************************************/
:root {
  /* Colors */
  --colorPrimary: 23, 39, 47;
  --colorOnPrimary: 255, 255, 255;

  /* Fonts */
  --fontSansSerif: "sofia-pro", sans-serif;

  /* z-indexes */
  --z6000: 6000;
  --z7000: 7000;
  --z8000: 8000;
  --z9000: 9000;
  --z10000: 10000;
}
